@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
body,
html {
  height: 100%;
}

body {
  --color-accent_1: #e23ea1;
  --color-accent_2: #80c0dc;
  --color-bg_main: #333333;
  --color-bg_secondary: #252526;
  --color-bg_tertiary: #535353;
  --color-bg_accent: #3c3c3c;
}

@layer components {
  .infoText {
    @apply flex items-center gap-1 px-2;
  }
}
